@font-face { /*custom font Montserrat*/
    font-family: "Montserrat";
    src: url("media/Montserrat-Medium.ttf");
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* general */
p {
    font-family: "Montserrat";
    color: #ffffff;
    font-size: 22px;
    margin: 10px;

}

/* background */
/* background is black for now */
body {
    background-color: #000000;
}

/* title h1 */
h1 {
    font-family: "Montserrat";
    color: #ffffff;
    font-size: 40px;
}

/* slighty bigger font for h2 */
h2 {
    font-family: "Montserrat";
    color: #ffffff;
    font-size: 30px;
    margin: 10px;
}

/* classes */

/* background div gradient */
/* gradient is dymanic to show whos turn it is, here is a simple placeholder */
.background_gradient {  
    background: linear-gradient(to bottom, #0099ff, #000000);
    background-size: 400% 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -6;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.background_gradient_overlay_loss {  
    background: linear-gradient(to bottom, #ff0000, #000000);
    background-size: 400% 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.background_gradient_overlay_win {
    background: linear-gradient(to bottom, #00ff00, #000000);
    background-size: 400% 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* the title div */
.title_div {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: text-shadow 0.5s ease;
}

.title_div:hover {
    text-shadow: 0px 0px 5px #ffffff;
}

/* for the cards and stuff to be held in */
.playing_board {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 16px;
    padding: 2px;
    height: 70%;
    position: relative;
}

.dealers_hand_div {
    text-align: center;
}

/* for the dealers cards to be held in */
.dealers_hand_container {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    margin: 2px;
    display: inline-block;
    width: fit-content;
    height: 150px;
    position: relative;
    left: 50%;
    transition: left 0.5s ease-in-out;
    translate: translateX(-50%);
}

/* dealer hand score */
.dealer_hand_value_div {
    background-color: #000000;
    padding: 0px;
    width: fit-content;
    position: relative;
    border-radius: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.players_hand_div {
    text-align: center;
}

/* for the players cards to be held in */
.players_hand_container {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    margin: 0px;
    width: fit-content;
    height: 200px;
    left: 5%;
    position: relative;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

/* for extra hands */
.extra_players_hand_container {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    margin: 0px;
    margin-bottom: 40px;
    width: fit-content;
    height: 150px;
    position: relative;
    transition: left 0.5s ease-in-out;
}

/* player hand score */
.player_hand_value_div {
    background-color: #000000;
    padding: 0px;
    width: fit-content;
    position: relative;
    border-radius: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.players_hands_extra {
    position: relative;
}

/* for the players cards to be held in */
.current_hand_selection_box {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    margin: 2px;
    width: fit-content;
    height: 162px;
    width: 75%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    top: 0%;
    transition: all 0.3s linear;
    outline: 2px solid #ffffff;
    box-shadow: inset 0px 0px 4px #ffffff;
}

/* text for selected hand box */
.selected_hand_text {
    position: absolute;
    top: -40px;
}


/* funny little line */
.line_split_1 {
    background-color: #ffffff;
    border-radius: 5px;
    width: 50%;
    height: 10px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    text-align: center;
}  

/* centers text in middle top */
.center_text_middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

}

/* your body for actions div */
.game_div {
    background-color: rgba(100, 100, 100, 0.5);
    position: relative;
    top: 10px;
    border-radius: 16px;
    height: 25%;
}

/* title for actions div */
.action_text {
    position: absolute;
    top: 0%;
}

/* the automatic betting part, a switch */
.automatic_betting {
    position: absolute;
    top: 80%;    
    left: 15%;
}

/* the automatic betting text */
.automatic_betting_text {
    position: absolute;
    top: 80.5%;    
    left: 17%;
}

/* container for buttons */ 
.action_buttons {
    flex-direction: column;
    display: flex;
}

/* container for BETTING buttons */
.betting_buttons {
    flex-direction: row;
    display: flex;
    position: absolute;
    top: 0%;
    left: 15%;
}

/* container for BETTING buttons (high risk) */
.betting_buttons_danger {
    flex-direction: row;
    display: flex;
    position: absolute;
    top: 18%;
    left: 15%;

}

/* div for custom betting inputs */
.custom_bet {
    position: absolute;
    top: 35%;
    left: 15%;
}

/* div to show your bet amounts */
.bet_amount {
    position: absolute;
    top: 52%;
    left: 15%;
}

/* div title for the bank */
.bank_div {
    position: absolute;
    top: 0%;
    left: 45%;
}

/* text div to show your bank amount */
.bank_amount {
    position: absolute;
    top: 15%;
    left: 45%;
}

/* div for the game status */
.game_actions_div {
    position: absolute;
    top: 40%;
    left: 45%;
}

.gane_actions_buttons {
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 55%;
    left: 45%;
}

.game_message_box{
    background-color: #000000;
    position: absolute;
    border-radius: 16px;
    top: 2%;
    left: 65%;
    width: 34.6%;
    height: 96%;
}

/* the main button class */
.button {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 8px;
    margin: 8px;
    display: inline-block;
    width: 128px;
    height: 32px;
    text-align: center;
    line-height: 0px;
    font-size: 20px;
    font-family: "Montserrat";
    transition: background-color 0.25s;
}

/* smaller buttons! */
.button_small {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 8px;
    margin: 8px;
    margin-right: 1px;
    display: inline-block;
    width: 70px;
    height: 32px;
    text-align: center;
    line-height: 0px;
    font-size: 20px;
    font-family: "Montserrat";
    transition: background-color 0.25s;
}

/* the larger button class */
.button_large {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 8px;
    margin: 8px;
    display: inline-block;
    width: 100%;
    height: 32px;
    text-align: center;
    line-height: 0px;
    font-size: 20px;
    font-family: "Montserrat";
    transition: background-color 0.25s;
}

/* input bar for custom betting */
.custom_bet_input {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 8px;
    margin: 8px;
    display: inline-block;
    width: 180px;
    height: 16px;
    text-align: center;
    line-height: 0px;
    font-size: 20px;
    font-family: "Montserrat";
}

/* card elements */
.card {
    width: 100px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 4px;
    box-shadow: 0px 0px 5px black;
    position: relative;
    transition: all 0.1s ease-in-out, opacity 0.5s ease-in, right 0.5s ease-in-out;
    top: 0px;
    right: 0px;
}

.card:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    top: -5px;
}

/* game status div */
.game_stats {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}

/* game status dropdown button, also does the menu */
/* .game_stats:hover .game_stats_dropdown {
    display: block;
} */

/* game status dropdown */
.game_stats_dropdown{
    background-color: #000000;
    border-radius: 16px;
    padding: 8px;
    margin: 8px;
    font-size: 20px;
    font-family: "Montserrat";
    display: none;
}

/* game status dropdown button */
.game_stats_dropdown_button {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 2px;
    margin: 4px;
    margin-left: 8px;
    display: inline-block;
    width: 160px;
    height: 32px;
    text-align: center;
    line-height: 0px;
    font-size: 20px;
    font-family: "Montserrat";
}

/* game setting div */
.game_settings {
    position: absolute;
    top: 0%;
    right: 0%;
}

/* game setting dropdown button, also does the menu */
.game_setting_button {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 2px;
    margin: 4px;
    margin-left: 8px;
    display: inline-block;
    width: 170px;
    height: 32px;
    text-align: center;
    line-height: 0px;
    font-size: 20px;
    font-family: "Montserrat";
}

/* game setting dropdown */
.game_settings_dropdown {
    position: absolute;
    background-color: #000000;
    border-radius: 16px;
    padding: 4px;
    margin: 8px;
    width: 200%;
    right: 0%;
    display: none;
    font-size: 20px;
    font-family: "Montserrat";
    z-index: 1;
}

/* deck container */
.deck_size_div {
    position: absolute;
    bottom: 0%;
    left: 90%;
}

/* menu extenstion for card settings */
.game_card_settings {
    background-color: #525252;
    border-radius: 8px;
    padding: 4px;
    margin: 8px;
}

/* input bar for custom deck size */
.deck_custom_size {
    background-color: #ffffff;
    border-radius: 16px;
    width: 80px;
    height: 24px;
    text-align: center;
    line-height: 0px;
    font-size: 20px;
    font-family: "Montserrat";
}

/* input div, disabled on start */
.game_card_settings {
    display: none;
}

/* input bar for custom hand size */
.starting_amount_input {
    background-color: #ffffff;
    border-radius: 16px;
    width: 200px;
    height: 24px;
    text-align: center;
    line-height: 0px;
    font-size: 20px;
    font-family: "Montserrat";
}

/* text to be plastered on the screen */
.hand_message {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    height: 100%;
    text-align: center;
    z-index: 2;
}